{% extends 'newspaper/user/home.html' %}

{% load i18n %}
{% load humanize %}

{% block carousel %}

{% endblock %}

{% block news %}
	<div class="col-md-3 dividers hidden-xs">
		<ul>
			{% for i in classifields %}
			<li>
				<div>
					<a href="/newspaper/classifield/{{i.id}}/">
						<h2 class="text-left">{{ i.title }}</h2>
					</a>
					{% if i.image != '' %}
					<figure>
						<a href="{{ i.image.url }}" class="boxer" title="{{ i.title }}" data-gallery="gallery">
						    <img class="img-responsive" src="{{ i.image.url }}"/>
						</a>
					</figure>
					{% endif %}

					<h5>
						{% trans "Minimum Value:" %} {{i.price}}<br>
						{% trans "Contact Phone:" %} {{i.phone|phone2numeric}}<br>
					{% if i.getBestOffer != None %}
						{% blocktrans with author_offer=i.getBestOffer.author_offer value=i.getBestOffer.value date_offer=i.getBestOffer.date_offer|naturaltime|capfirst %}
							Best Offer By: {{ author_offer }} with Value: {{ value }}, {{date_offer}} .
						{% endblocktrans %}
					</h5>
					{% endif %}

					<p class="text-justify">{{ i.description|linebreaks|truncatewords_html:50 }}</p>
				</div>
			</li>
			{% if forloop.last == False %}
				<hr class="divider-lite">
			{% endif %}
			{% endfor %}
		</ul>
	</div>
	<div class="col-md-9 dividers">
		<div class="container-fluid">
		<div class="row">
			<div class="col-md-4">
				{% if classifield.image != '' %}
					<a href="{{ classifield.image.url }}" class="boxer" title="{{ classifield.title }}" data-gallery="gallery">
					    <img class="img-full" src="{{ classifield.image.url }}"/>
					</a>
				{% endif %}
			</div>
			<div class="col-md-8">
				<h1 id="index">{{ classifield.title }}</h1>
				<h5>
					{% trans "Minimum Value:" %} {{classifield.price}}<br>
					{% trans "Contact Phone:" %} {{classifield.phone|phone2numeric}}<br>
				{% if classifield.getBestOffer != None %}
					{% blocktrans with author_offer=classifield.getBestOffer.author_offer value=classifield.getBestOffer.value date_offer=classifield.getBestOffer.date_offer|naturaltime|capfirst %}
						Best Offer By: {{ author_offer }} with Value: {{ value }}, {{date_offer}} .
					{% endblocktrans %}
				</h5>
				{% endif %}
				<hr class="divider">

				<p class="text-justify">{{ classifield.description|linebreaks }}</p>	
			</div>
		</div>
		</div>
		{% if perms.newspaper.keep_classifield %}
		<h1>{% trans "List Offers: " %}</h1>

		{% include "newspaper/userAuthenticated/offer/_render_list_offer.html" %}	
		{% endif %}
		{% if perms.newspaper.offer_to_buy %}
		<h1>{% trans "Add Offer: " %}</h1>
		{% include "newspaper/_form.html" %}
		{% endif %}

	</div>
{% endblock %}

{% block passNews %}
{% endblock %}