{% extends 'newspaper/_base.html' %}

{% load i18n %}
{% load humanize %}

{% block body %}
	
	{% block menu-barner %}
	<center>
	    <svg class="nyt-logo" width="100%" height="64" role="img" aria-label="The New York Times">
	        <image width="100%" height="64" xlink:href="/static/newspaper/img/logos/logo.png" src="/static/newspaper/img/logos/logo.png" alt="The New York Times" border="0" class="img-responsive">
	        </image>
	    </svg>
	    	<ul class="masthead-menu">
				<li class="date">{% trans "It is" %} {% now "jS F Y H:i" %}</li>
			</ul>
	        
	</center>
	{% endblock %}
	
	{% block menu-sections %}
	<hr class="divider">
		<nav id="mini-navigation" class="mini-navigation">
	    <ul class="mini-navigation-menu">
			{% for i in sections %}
				<li>
	            	<a href="/newspaper/home/section={{ i.id }}/">{{ i.title }}</a>
	        	</li>
			{% endfor %}        
	        	<li>
	        		<a href="/newspaper/home/">{% trans "All" %}</a>
	        	</li>
		</ul>
	    </nav>
	<hr class="divider">
	{% endblock %}

	{% block container %}
	<div class="container-fluid">
		<div class="row">
			{% if most_popular|length > 0 %}
			{% block carousel %}
						<!-- Carousel
				================================================== -->
				<div id="myCarousel" class="carousel slide" data-ride="carousel">
					<!-- Indicators -->
					<ol class="carousel-indicators">
						{% for i in most_popular %}
						<li data-target="#myCarousel" data-slide-to="{{ forloop.counter0 }}" ></li>
						{% endfor %}
					</ol>
					
					<div class="carousel-inner">
						{% for i in most_popular %}
							{% if forloop.counter0 == 0 %}
							<div class="item active">
							{% else %}
							<div class="item">
							{% endif %}
							{% if i.image %}
								<div>
									<img src="{{ i.image.url }}" alt="{{ i.title }}">
									<div class="container">
										<div class="carousel-caption">
											<div class="box-text">
												<a href="/newspaper/news/{{i.id}}/"><h1>{{ i.title }}</h1></a>
												<p class="text-center">
													{{ i.subtitle }} 
												</p>
											</div>
										</div>
									</div>
								</div>
							{% endif %}
							</div>
						{% endfor %}
					</div>
					
					<a class="left carousel-control" href="#myCarousel" data-slide="prev"><span class="glyphicon glyphicon-chevron-left"></span></a>
					<a class="right carousel-control" href="#myCarousel" data-slide="next"><span class="glyphicon glyphicon-chevron-right"></span></a>
					<hr class="divider">
				</div><!-- /.carousel -->

			{% endblock %}

			{% else %}
				<h1 class="text-center">{% trans "There are no questions available." %}</h1>
			{% endif %}

			{% block news %}
			<!-- News Wihout imagens -->
			<div class="col-md-3 dividers">
				<ul>
					{% for a in news_no_image %}
					<li>
						<div>
							<a href="/newspaper/news/{{a.id}}/"><h1 class="text-left">{{a.title }}</h1></a>
							<h3>{% trans "By" %} {{ a.author }} , {{ a.dating_news|naturaltime|capfirst }}.</h3>
							<p class="text-justify">{{a.subtitle|safe}}</p>
						</div>
					</li>

					{% if forloop.last == False %}
					<hr class="divider-lite">
					{% endif %}

					{% endfor %}
				</ul>
			</div>

			<!-- News Wihout imagens -->
			<div class="col-md-6 dividers">
				<ul>
				{% for b in news_image %}
				<li>
					<div>
						{% if b.image %}
						<figure>
							<a href="{{ b.image.url }}" class="boxer"
							   title="{{ b.title }}" data-gallery="galleryNewsImage">
							    <img class="img-responsive fill" src="{{ b.image.url }}"/>
							</a>
						</figure>
						{% endif %}
						<center>
							<a href="/newspaper/news/{{b.id}}/"><h1>{{ b.title }}</h1></a>
						</center>
						<h3>{% trans "By" %} {{ b.author }} , {{ b.dating_news|naturaltime|capfirst }}.</h3>
						<p class="text-justify">{{ b.subtitle|safe }}</p>
					</div>
				</li>
				{% if forloop.last == False %}
					<hr class="divider-lite">
					{% endif %}
				{% endfor %}
				</ul>
			</div>

			<!-- Classifields -->
			<div class="col-md-3 dividers">
				<ul>
				{% for c in classifields %}
				<li>
					<a href="/newspaper/classifield/{{c.id}}/"><h1 class="text-left">{{c.title}}</h1></a>

					<h5>
						{% trans "Minimum Value:" %} {{c.price}}<br>
						{% trans "Contact Phone:" %} {{c.phone|phone2numeric}}<br>
					{% if c.getBestOffer != None %}
						{% blocktrans with author_offer=c.getBestOffer.author_offer value=c.getBestOffer.value date_offer=c.getBestOffer.date_offer|naturaltime|capfirst %}
							Best Offer By: {{ author_offer }} with Value: {{ value }}, {{date_offer}} .
						{% endblocktrans %}
					</h5>
					{% endif %}

					{% if c.image != '' %}
					<figure>
						<a href="{{ c.image.url }}" class="boxer" title="{{ c.title }}" data-gallery="galleryClassfields">
						    <img class="img-responsive" src="{{ c.image.url }}"/>
						</a>
					</figure>
					{% endif %}
					<p class="text-justify">{{c.description|safe|truncatewords_html:50}}</p>
				</li>
				{% if forloop.last == False %}
					<hr class="divider-lite">
					{% endif %}
				{% endfor %}
				</ul>
			</div>
			{% endblock %}

		</div>
	</div>
	{% endblock %}

	{% block passNews %}
	<hr class="divider-lite">
		<div class="row">
				<center>
				<div class="btn-group" role="group">
					{% if id_section == None %}
					<a href="/newspaper/home/page={{ id_page_left }}/">
					{% else %}
					<a href="/newspaper/home/section={{ id_section }}/page={{ id_page_left }}/">
					{% endif %}
						<button class="btn btn-group">
							<span class="glyphicon glyphicon-chevron-left"></span>
						</button>	
					</a>
				</div>
				<div class="btn-group" role="group">
					{% if id_section == None %}
						<a href="/newspaper/home/page={{ id_page_rigth }}/">
					{% else %}
						<a href="/newspaper/home/section={{ id_section }}/page={{ id_page_rigth }}/">
					{% endif %}
						<button class="btn btn-group">							
							<span class="glyphicon glyphicon-chevron-right"></span>
						</button>
					</a>
				</div>
				</center>
		</div>
	{% endblock %}
{% endblock %}

{% block modals %}
{% endblock %}