{% extends 'newspaper/user/home.html' %}

{% load i18n %}
{% load humanize %}

{% block carousel %}

{% endblock %}

{% block news %}
	<div class="col-md-3 dividers">
		<ul>
			{% for i in news_all %}
			<li>
				<div>
					<center>
						<a href="/newspaper/news/{{i.id}}/"><h1>{{ i.title }}</h1></a>
					</center>
					<h3>
						{% trans "By" %} {{ i.author }} , {{ i.dating_news|naturaltime|capfirst }}.
					</h3>
					<p>
						{% if i.image != '' %}
						<figure class="img-float-right">
							<a href="{{ i.image.url }}" class="boxer" title="{{ i.title }}" data-gallery="gallery">
							    <img class="img-responsive" src="{{ i.image.url }}"/>
							</a>
						</figure>
						{% endif %}
						{{ i.subtitle|safe }}
					</p>
				</div>
			</li>
			{% if forloop.last == False %}
			<hr class="divider-lite">
			{% endif %}
			{% endfor %}
		</ul>
	</div>
	<div class="col-md-9 dividers">
		<h1>{{ news.title|title }}</h1>
		<h3>{% trans "By" %} {{ news.author }} , {{ news.dating_news|naturaltime|capfirst }}.</h3>
		<hr class="divider">
		<div>
			<p class="text-justify">
				{% if news.image != '' %}
					<figure class="img-float-right">
						<a href="{{ news.image.url }}" class="boxer" title="{{ news.title }}" data-gallery="gallery">
						    <img class="img-responsive" src="{{ news.image.url }}"/>
						</a>
					</figure>
				{% endif %}
				{{ news.description|safe }}
			</p>
			<h1>{% trans "Comments:" %}</h1>
			<ul>
			{% for i in news.comments.all %}
				<li>
					<div class="container-fluid">
						<div class="row">
							<h3>{% trans "Author: " %}{{ i.author }}, {{ i.dating_comment|naturaltime|capfirst }}</h3>
							{% if i.image != '' %}
							<figure class="img-float-right">
								<a href="{{ i.image.url }}" class="boxer" title="{{ i.title }}" data-gallery="gallery">
								    <img class="img-responsive" src="{{ i.image.url }}"/>
								</a>
							</figure>
							{% endif %}
							<p>{{ i.text|safe }}</p>
						</div>
					</div>
				</li>
			{% endfor %}
			</ul>
			<h1>{% trans "Add your comment:" %}</h1>
			{{form_comment.as_p}}
		</div>
	</div>
{% endblock %}

