{% extends 'newspaper/user/home.html' %}

{% load i18n %}
{% load humanize %}

{% block carousel %}
{% endblock %}

{% block title %}
{{ news.title|title }}
{% endblock %}

{% block news %}
	<div class="col-md-3 dividers hidden-xs">
	<div class="container-fluid">
	<div class="row">
		<ul>
			{% for i in news_all %}
			<li>
				<div>
					<center>
						<a href="/newspaper/news/{{i.id}}/" title="{{ i.title }}">
							<h1>{{ i.title }}</h1>
						</a>
					</center>
					<h3>
						{% trans "By" %} {{ i.author }} , {{ i.dating_news|naturaltime|capfirst }}.
					</h3>
					<p>
						{% if i.image != '' %}
						<figure class="img-float-right">
							<a href="{{ i.image.url }}" class="boxer" title="{{ i.title }}" data-gallery="galleryOthesNews">
							    <img class="img-responsive" src="{{ i.image.url }}"/>
							</a>
						</figure>
						{% endif %}
						<p class="text-justify">{{ i.subtitle|safe }}</p>
					</p>
				</div>
			</li>
			{% if forloop.last == False %}
			<hr class="divider-lite">
			{% endif %}
			{% endfor %}
		</ul>
	</div>
	</div>
	</div>
	<div class="col-md-9 dividers">
	<div class="container-fluid">
	<div class="row">
		<h1 id="index">{{ news.title|title }}</h1>
		<h3>{% trans "By" %} {{ news.author }} , {{ news.dating_news|naturaltime|capfirst }}.</h3>
		<hr class="divider">
		<div>
			<p class="text-justify">
				{% if news.image != '' %}
					<figure class="img-float-right">
						<a href="{{ news.image.url }}" class="boxer" title="{{ news.title }}" data-gallery="gallery">
						    <img class="img-responsive" src="{{ news.image.url }}"/>
						</a>
					</figure>
				{% endif %}
				<p class="text-justify">{{ news.description|linebreaks }}</p>
				<div class="container-fluid">
					<div class="row">
						<div class="col-md-8 col-md-offset-2">
							{% if news.video %}
							<video width="100%" height="100%" controls>
								<source src="{{ news.video.url }}" type="video/mp4">
							</video> 
							{% endif %}
						</div>
					</div>
				</div>
			</p>
			<!-- <h1>{% trans "Comments:" %}</h1>
			<hr class="divider-lite">
			<ul>
			{% for i in news.comments.all %}
				<li >
					<div class="container-fluid">
						<div class="row">
							<h3>
								{% if i.getAuthor.profile_image != '' %}
								<figure >
									<a href="{{ i.getAuthor.profile_image.url }}" class="boxer" title="{{ i.getAuthor }}" data-gallery="galleryComments">
									    <img class="img-responsive" width="50px" height="50px" src="{{ i.getAuthor.profile_image.url }}"/>
									</a>
								</figure>
								{{ i.getAuthor }}, {{ i.dating_comment|naturaltime|capfirst }}
								
								{% else %}
								{{ i.getAuthor }}, {{ i.dating_comment|naturaltime|capfirst }}
								{% endif %}
							</h3>
							{% if i.image != '' %}
							<figure class="img-float-right">
								<a href="{{ i.image.url }}" class="boxer" title="{{ i.title }}" data-gallery="gallery">
								    <img class="img-responsive" src="{{ i.image.url }}"/>
								</a>
							</figure>
							{% endif %}
							<p class="text-justify">{{ i.text|safe }}</p>
						</div>
					</div>
				</li>
				<hr class="divider-lite">
			{% empty %}
			<h2>{% trans "News has no comments." %}</h2>
			{% endfor %}
			</ul>
			{% if perms.newspaper.comment_news %}
				<h1>{% trans "Add your comment:" %}</h1>
				{% include "newspaper/_form.html" %}
			{% else %}
			{% endif %} -->

			<div id="fb-root"></div>
			<script>(function(d, s, id) {
				  var js, fjs = d.getElementsByTagName(s)[0];
				  if (d.getElementById(id)) return;
				  js = d.createElement(s); js.id = id;
				  js.src = "//connect.facebook.net/pt_BR/sdk.js#xfbml=1&version=v2.3&appId=1576001965999800";
				  fjs.parentNode.insertBefore(js, fjs);
				}(document, 'script', 'facebook-jssdk'));
			</script>
			<div class="fb-comments" data-href="https://facebook.com/newspaper/news/{{news}}/" data-numposts="5" data-colorscheme="light">
			</div>

		</div>
	</div>
	</div>
	</div>
{% endblock %}

{% block passNews %}
{% endblock %}