{% load i18n %}
{% load humanize %}

<div class="panel-group" id="accordion">
	<div class="container-fluid">
	<div class="row">
			<center>
			{% if id_page != 1 %}
				<div class="btn-group" role="group">
					<a href="/newspaper/userAuthenticated/manager/classifield/view/page={{ id_page_left }}/" alt="{% trans "Page Previous" %}">
						<span class="glyphicon glyphicon-chevron-left"></span>
					</a>
				</div>
			{% endif %}
			<a>{% trans "Page: " %}{{ id_page }}</a>
			{% if id_page_rigth != None %}
				<div class="btn-group" role="group">
					<a href="/newspaper/userAuthenticated/manager/classifield/view/page={{ id_page_rigth }}/" alt="{% trans "Page Next" %}">
						<span class="glyphicon glyphicon-chevron-right"></span>
					</a>
				</div>
			{% endif %}
			</center>
	</div>
	</div>
{% for classifield in classifields %}
<div class="panel panel-default">
	<div class="panel-heading">
      	<h4 class="panel-title">
      		<div class="row">
	      		<div class="col-xs-10 col-md-10 text-left">
			        <a data-toggle="collapse" data-parent="#accordion" href="#collapseClassifield{{ classifield.id}}">
			       		{{ classifield.title }}
			        </a>
		    	</div>
		        <div class="col-xs-2 col-md-2 text-right">
		        	<a href="/newspaper/userAuthenticated/manager/classifield/edit/{{classifield.id}}/">
		        		<span class="glyphicon glyphicon-edit"></span>
		        	</a>
		        	&nbsp;
		        	<a href="/newspaper/userAuthenticated/manager/classifield/rem/{{classifield.id}}/">
						<span class="glyphicon glyphicon-remove"></span>
		        	</a>
				</div>
			</div>
    	</h4>
	</div>
    <div id="collapseClassifield{{classifield.id}}" class="panel-collapse collapse">
      	<div class="panel-body">
        	{% include "newspaper/userAuthenticated/classifield/_render_classifield.html" %}
        </div>
    </div>
</div>
{% empty %}
<div class="jumbotron">
	<h2 class="text-center">{% trans "There are no classifields" %}</h2>
</div>
{% endfor %}
</div>