{% load i18n %}
{% load humanize %}

  <li id="Mail" item-expanded='false'>
  	<h3>
  		<div class="container-fluid">
	  		<div class="col-xs-6  col-md-8 text-center">
		 		<div class="row">
		 			<img style='float: left; margin-right: 5px;'  src='/static/newspaper/img/icons/classifields.png' />
			  		<span item-title="true">
			  			{% trans "Classifields" %}
			  		</span>
		 		</div>
		 	</div>
			<div class="col-xs-6 col-md-4 text-right">
				{% if perms.newspaper.keep_classifield %}
				<a href="/newspaper/userAuthenticated/manager/classifield/add/">
					<span class="glyphicon glyphicon-plus pointer"></span>
				</a>
				{% endif %}
			</div>
		</div>
  	</h3>

  	{% if open_classfield %}
	  	<ul>
	{% else %}
	  	<ul>
	{% endif %}
		<li>
			<div class="container-fluid">
		  		<div class="col-xs-6  col-md-8 text-left">
			 		<a href="#collapse{{i.id}}">
		  				<h4>{%  trans "All" %}</h4>
		  			</a>
			 	</div>
				<div class="col-xs-6 col-md-4 text-right">
					<a href="/newspaper/userAuthenticated/manager/classifield/view/">
						<span class=" glyphicon glyphicon-eye-open pointer"></span>
					</a>
				</div>
			</div>
		</li>
	</ul>
</li>