{% extends 'newspaper/user/home.html' %}


{% block menu-sections %}
{% endblock %}

{% block container %}
<p class="c2">
        <b>The UFC Times</b></p>
    <br>
    <p class="c3">
        PLEASE READ THIS AGREEMENT CAREFULLY. BY COPYING, INSTALLING, OR USING ALL OR ANY
        PORTION OF THIS SOFTWARE, YOU (HEREINAFTER “CUSTOMER”) ACCEPT ALL THE TERMS AND
        CONDITIONS OF THIS AGREEMENT, INCLUDING, WITHOUT LIMITATION, THE PROVISIONS ON LICENSE
        RESTRICTIONS IN SECTION 4, LIMITED WARRANTY IN SECTIONS 6 AND 7, LIMITATION OF LIABILITY
        IN SECTION 8, AND SPECIFIC PROVISIONS AND EXCEPTIONS IN SECTION 16. CUSTOMER AGREES
        THAT THIS AGREEMENT IS LIKE ANY WRITTEN NEGOTIATED AGREEMENT SIGNED BY CUSTOMER.
        THIS AGREEMENT IS ENFORCEABLE AGAINST CUSTOMER. IF CUSTOMER DOES NOT AGREE TO THE
        TERMS OF THIS AGREEMENT, CUSTOMER MAY NOT USE THE SOFTWARE.</p>
    <br>
    <p class="c3">
        Customer may have another written agreement directly with Adobe (e.g., a volume
        license agreement) that supplements or supersedes all or portions of this agreement.
        The Software is LICENSED, NOT SOLD, only in accordance with the terms of this agreement.
        Use of some Adobe and some non-Adobe materials and services included in or accessed
        through the Software may be subject to additional terms and conditions. Notices
        about non-Adobe materials are available at <a target="ADB-ESG" href="http://www.adobe.com/go/thirdparty">
            http://www.adobe.com/go/thirdparty</a>.
    </p>
    <br>
    <p class="c3">
        The Software may cause Customer’s Computer to AUTOMATICALLY CONNECT TO THE INTERNET.
        The Software may also require activation or registration. Additional information
        on activation, Internet connectivity, and privacy is available in Sections 14 and
        16.</p>
    <br>
    <p class="c4">
        <b>1. Definitions.</b></p>
    <br>
    <p class="c5">
        1.1 “Adobe” means Adobe Systems Incorporated, a Delaware corporation, 345 Park Avenue,
        San Jose, California 95110, if this agreement is entered into while Customer is
        in the United States, Canada, or Mexico; otherwise, it means Adobe Systems Software
        Ireland Limited, 4-6 Riverwalk, Citywest Business Campus, Dublin 24, Ireland.</p>
    <br>
    <p class="c5">
        1.2 “Adobe Runtime(s)” means Adobe AIR, Adobe Flash Player, Shockwave Player, or
        Authorware Player.</p>
    <br>
    <p class="c5">
        1.3 “Compatible Computer” means a Computer with the recommended operating system
        and hardware configuration as stated in the Documentation.</p>
    <br>
    <p class="c5">
        1.4 “Computer” means a virtual or physical device that accepts information in digital
        or similar form and manipulates it for a specific result based on a sequence of
        instructions, including without limitation desktop computers, laptops, tablets,
        mobile devices, telecommunication devices, Internet-connected devices, and hardware
        products capable of operating a wide variety of productivity, entertainment, or
        other software applications.</p>
    <br>
    <p class="c5">
        1.5 “Customer” means you and any legal entity that obtained the Software and on
        whose behalf it is used; for example, and as applicable, your employer.</p>
    <br>
    <p class="c5">
        1.6 “Internal Network” means a private, proprietary network resource accessible
        only by employees and individual contractors (i.e., temporary employees) of a specific
        corporation or similar business entity. Internal Network does not include portions
        of the Internet or any other network community open to the public, such as membership
        or subscription driven groups, associations, and similar organizations.</p>
    <br>
    <p class="c5">
        1.7 “Output File” means an output file Customer creates with the Software.</p>
    <br>
    <p class="c5">
        1.8 “Permitted Number” means one (1) unless otherwise indicated under a valid license
        (e.g., volume license) granted by Adobe.</p>
    <br>
    <p class="c5">
        1.9 “Software” means (a) all of the information with which this agreement is provided,
        including but not limited to: (i) all software files and other computer information;
        (ii) any proprietary scripting logic embedded within exported file formats or used
        in an Adobe Online Service; (iii) sample and stock photographs, images, sounds,
        clip art and other artistic works bundled with Adobe software or made available
        by Adobe on Adobe’s website for use with the Adobe software and not obtained from
        Adobe through a separate service (unless otherwise noted within that service) or
        from another party (“Content Files”); (iv) related explanatory written materials
        and files (“Documentation”); and (v) fonts; and (b) any modified versions and copies
        of, and upgrades, updates, and additions to, such information, provided to Customer
        by Adobe at any time, to the extent not provided under separate terms (collectively,
        “Updates”).</p>
    <br>
    <p class="c4">
        <b>2. Software License; Membership.</b></p>
    <br>
    <p class="c5">
        2.1 Software License. This Section 2.1 applies to Customers who have purchased a
        license to the Software but have not purchased a membership-based license or service
        such as the Creative Cloud membership (as described in Section 2.2).</p>
    <br>
    <p class="c5">
        2.1.1 License Grant. Subject to Customer’s continuous compliance with this Agreement
        and payment of the applicable license fees, Adobe grants Customer a non-exclusive
        and limited license to install and use the Software (a) in the territory or region
        where Customer obtains the Software from Adobe or Adobe’s authorized reseller or
        as otherwise stated in the Documentation (“Territory”), (b) during the term of such
        license (“License Term”), (c) within the scope of the License Type and on the Permitted
        Number of Customer’s Compatible Computers as specified in the Documentation, and
        (d) in a manner consistent with the terms of this Agreement and applicable Documentation.
        Unless otherwise defined in this Agreement, in the applicable Documentation, or
        at the time of purchase, License Term shall be perpetual. Upon the expiration or
        termination of the License Term, some or all of the Software may cease to operate
        without prior notice. Upon expiration or termination of the License Term, Customer
        may not use the Software unless Customer has renewed the license. The license granted
        herein is supplemented by specific provisions in Section 16 as related to the use
        of certain applicable products and components that may be included in the Software
        such as font software, Acrobat, After Effects, Adobe Presenter, Contribute, Flash
        Player, Flash Builder, Digital Publishing Suite, and Adobe Runtimes.</p>
    <br>
    <p class="c5">
        2.1.2 License Types.</p>
    <br>
    <p class="c5">
        2.1.2.1 Non-Serialized Software. The Software, or portions of the Software, that
        are provided without a serial number during the License Term may only be installed
        and used on any number of Compatible Computers as part of an organizational deployment
        plan during the License Term for demonstration, evaluation, and training purposes
        only, and only if any Output Files or other materials produced through such use
        are used only for internal, non-commercial, and non-production purposes. THE NON-SERIALIZED
        SOFTWARE IS PROVIDED “AS-IS”. ACCESS TO AND USE OF ANY OUTPUT FILES CREATED WITH
        SUCH NON-SERIALIZED SOFTWARE IS ENTIRELY AT CUSTOMER’S OWN RISK.</p>
    <br>
    <p class="c5">
        2.1.2.2 Evaluation Software. The Software, or portions of the Software, that are
        provided with a serial number designated for “evaluation purposes” or other similar
        designation (such as Software or a serial number supplied as “EVAL” under a separate
        agreement) (“Evaluation Software”) may only be installed and used on Permitted Number
        of Compatible Computers during the License Term for demonstration, evaluation, and
        training purposes only, and only if any Output Files or other materials produced
        through such use are used only for internal, non-commercial, and non-production
        purposes. THE EVALUATION SOFTWARE IS PROVIDED “AS IS”. ACCESS TO AND USE OF ANY
        OUTPUT FILES CREATED WITH SUCH EVALUATION SOFTWARE IS ENTIRELY AT CUSTOMER’S OWN
        RISK.</p>
    <br>
    <p class="c5">
        2.1.2.3 Subscription Edition. For the Software available on a subscription-basis
        (“Subscription Edition”), Customer may install and use the Subscription Edition
        only on the Permitted Number of Compatible Computer during the License Term. Subject
        to the Permitted Number of Computers for the Subscription Edition, Adobe may allow
        Customer to install and use the most recent prior version of the Subscription Edition
        and the current version of the Subscription Edition on the same Computer during
        the License Term. Customer agrees that Adobe may change the type of Software (such
        as specific components, versions, platforms, languages, etc.) included in the Subscription
        Edition at any time and shall not be liable to Customer whatsoever for such change.
        Ongoing access to a Subscription Edition requires: (a) a recurring Internet connection
        to activate, renew, and validate the license, (b) Adobe or its authorized reseller’s
        receipt of recurring subscription payments, and (c) Customer’s agreement to subscription
        terms and other additional terms and conditions that are available at <a target="ADB-ESG"
            href="http://www.adobe.com/go/paymentterms">http://www.adobe.com/go/paymentterms</a>
        or at the time of purchase. If Adobe does not receive the recurring subscription
        payment or cannot validate the license periodically, then the Software may become
        inactive without additional notice until Adobe receives the payment or validates
        the license.</p>
    <br>
    <p class="c5">
        2.1.3 <b>Portable or Home Computer Use. Subject to the restrictions set forth in Section
            2.1.4, the primary user of the Computer on which the Software is installed under
            Section 2.1 (“Primary User”) may install a second copy of the Software for his or
            her exclusive use on either a portable Computer or a Computer located at his or
            her home, provided that the Software on the portable or home Computer is not used
            at the same time as the Software on the primary Computer.</b></p>
    <br>
    <p class="c5">
        2.1.4 Restrictions on Secondary Use by Volume Licensees. If the Software was obtained
        under an Adobe volume license program or agreement (such as Adobe Volume Licensing)
        by any licensee other than an educational volume licensee, then the second copy
        of the Software made under Section 2.1.3 must be used solely for the benefit and
        business of that volume licensee.</p>
    <br>
    <p class="c5">
        2.1.5 Dual Boot Platform. The Software is licensed for use on a specific operating
        system platform. Customer must purchase a separate license for use of the Software
        on each operating system platform. By way of example, if Customer desires to install
        the Software on both the Mac OS and Windows operating system platforms on a device
        that runs both of those platforms (i.e., a dual boot machine), then Customer must
        first obtain two separate licenses for the Software. This is true even if two versions
        of the Software, each designed for a different operating system platform, are delivered
        to Customer on the same media.
    </p>
    <br>
    <p class="c5">
        2.1.6 Distribution from a Server. As permitted by the Documentation, Customer may
        copy an image of the Software onto a Computer file server within Customer’s Internal
        Network (“Server”) for the purpose of downloading and installing the Software onto
        Computers within the same Internal Network for use only as permitted by this Section
        2.</p>
    <br>
    <p class="c5">
        2.1.7 Server Use.</p>
    <br>
    <p class="c5">
        2.1.7.1 As permitted in a separate purchasing document or Documentation and subject
        to license restrictions stated in this Agreement, Customer may install the Software
        on a Server only for the purpose of allowing an individual from a Computer within
        the same Internal Network (“Network User”) to access and use the Software. The Network
        User who has access to such Software on the Server is referred to as “Server Software
        User”. The total number of Server Software Users (not the concurrent number of users)
        may not exceed the Permitted Number. By way of example, if Customer has purchased
        10 licenses of Software (Permitted Number is 10) and Customer elects to install
        the Software on a Server, then Customer can only allow up to 10 Server Software
        Users the access to the Software (even though Customer may have more than 10 Network
        Users or fewer than 10 concurrent users of the Software).</p>
    <br>
    <p class="c5">
        2.1.7.2 For clarification and without limitation, the foregoing does not permit
        Customer to install or access (either directly or through commands, data, or instructions)
        the Software: (a) from or to a Computer not part of Customer’s Internal Network;
        (b) for enabling web hosted workgroups or web hosted services available to the public;
        (c) by any individual or entity to use, download, copy, or otherwise benefit from
        the functionality of the Software unless licensed to do so by Adobe; (d) as a component
        of a system, workflow or service accessible by more than the Permitted Number of
        users; or (e) for operations not initiated by an individual user (e.g., automated
        server processing).</p>
    <br>
    <p class="c5">
        2.2 Membership. This Section 2.2 applies to Customers who have purchased a membership-based
        license or service such as the Creative Cloud membership (collectively, “Membership”).</p>
    <br>
    <p class="c5">
        2.2.1 Adobe Online Services Related to the Membership. Subject to Customer’s continuous
        compliance with this Agreement and payment of the applicable membership fees, if
        any, Adobe grants Customer a non-exclusive, Territory-wide and limited right to
        access and use the Software and related Adobe Online Service (as further described
        in Section 16.4.1) as part of the Membership, subject to the terms stated in this
        Agreement and the Additional Terms of Use (as the term is defined in Section 14.1.3
        below).</p>
    <br>
    <p class="c5">
        2.2.2 Software License Related to the Membership. Subject to Customer’s continuous
        compliance with this Agreement and payment of the applicable membership fees, if
        any, Adobe grants Customer a non-exclusive and limited license to install and use
        the Software: (a) in the Territory, (b) during the period that the Membership is
        current and active (“Membership Term”) and (c) in a manner consistent with the terms
        of this Agreement and applicable Documentation. Upon the expiration or termination
        of the Membership Term, (x) some or all of the Software may cease to operate without
        prior notice and (y) Customer may not use the Software unless Customer has renewed
        the membership. All terms related to the specific Software as stated in this Agreement
        shall remain effective and continue to apply to Customer and its use of such Software.</p>
    <br>
    <p class="c5">
        2.2.3 Restrictions. Customer agrees to the following additional terms and restrictions
        related to the Membership: (a) Adobe may change the type of Software (such as specific
        products, components, versions, platforms, languages, etc.) included in the Membership
        at any time and shall not be liable to Customer whatsoever for such change; (b)
        Customer may be required to connect to the Internet and log in at any time during
        the Membership Term; (c) Software may automatically connect to the Internet to verify
        Customer’s Membership without notice at any time; and (d) Customer may not enable
        or allow others to use the Software as Customer.</p>
    <br>
    <p class="c5">
        2.3 Content Files. Unless stated otherwise in the “Read-Me” files, Documentation,
        or other license(s) associated with the Content Files, Customer may use, display,
        modify, reproduce, and distribute any of the Content Files. However, Customer may
        not distribute the Content Files on a stand-alone basis (i.e., in circumstances
        in which the Content Files constitute the primary value of the product being distributed),
        and Customer may not claim any trademark rights in the Content Files or derivative
        works thereof. Nothing stated herein shall affect the ownership of the Software
        as stated in Section 3.</p>
    <br>
    <p class="c5">
        2.4 Sample Application Code. Customer may modify the source code form of those portions
        of the Software programs that are expressly identified as sample code, sample application
        code, code snippets, ActionScript class files, or sample components (each, “Sample
        Application Code”) in the accompanying Documentation solely for the purposes of
        designing, developing, and testing websites and applications developed using Adobe
        software programs; provided, however, Customer is permitted to copy and distribute
        the Sample Application Code (modified or unmodified) only if all of the following
        conditions are met: (a) Customer distributes only the compiled object code versions
        of the Sample Application Code with its application; (b) Customer does not include
        the Sample Application Code in any product or application designed for website development;
        and (c) Customer does not use the Adobe name, logos, icons, or other Adobe trademarks
        to market its application. Customer agrees to indemnify, hold harmless, and defend
        Adobe from and against any loss, damage, claims, or lawsuits, including attorney’s
        fees, that arise or result from the use or distribution of its application.</p>
    <br>
    <p class="c5">
        2.5 Programming Languages. The Software may include portions of the ExtendScript
        SDK and Pixel Bender SDK. Subject to the restrictions contained in this Section
        2, Adobe grants to Customer a nonexclusive, nontransferable, royalty-free license
        to use the items in the ExtendScript SDK and Pixel Bender SDK only for the purpose
        of internal development of application programs designed to function with Adobe
        products. Except as expressly provided in this Section 2.5, no portions of the ExtendScript
        SDK or the Pixel Bender SDK may be modified or distributed. Customer agrees to indemnify,
        hold harmless, and defend Adobe from and against any loss, damage, claims, or lawsuits,
        including attorney’s fees, that arise or result from such distribution.</p>
    <br>
    <p class="c5">
        2.6 Documentation Copies. Customer may make copies of the Documentation for its
        own internal use in connection with use of the Software in accordance with this
        agreement, but no more than the amount reasonably necessary.</p>
    <br>
    <p class="c4">
        <b>3. Intellectual Property Ownership.</b></p>
    <br>
    <p class="c5">
        The Software and any authorized copies that Customer makes are the intellectual
        property of and are owned by Adobe Systems Incorporated and its suppliers. The structure,
        organization, and source code of the Software are the valuable trade secrets and
        confidential information of Adobe Systems Incorporated and its suppliers. The Software
        is protected by law, including but not limited to the copyright laws of the United
        States and other countries, and by international treaty provisions. Except as expressly
        stated herein, this agreement does not grant Customer any intellectual property
        rights in the Software. All rights not expressly granted are reserved by Adobe and
        its suppliers.</p>
    <br>
    <p class="c4">
        <b>4. Restrictions and Requirements.</b></p>
    <br>
    <p class="c5">
        4.1 Proprietary Notices. Any permitted copy of the Software (including without limitation
        Documentation) that Customer makes must contain the same copyright and other proprietary
        notices that appear on or in the Software.</p>
    <br>
    <p class="c5">
        4.2 Use Obligations. Customer agrees that it will not use the Software other than
        as permitted by this agreement and that it will not use the Software in a manner
        inconsistent with its design or Documentation.</p>
    <br>
    <p class="c5">
        4.3 No Modifications. Except as expressly permitted in Sections 2 or 16, Customer
        may not modify, port, adapt, or translate the Software.</p>
    <br>
    <p class="c5">
        4.4 No Reverse Engineering. Except as otherwise expressly permitted in Section 16.1,
        Customer will not reverse engineer, decompile, disassemble, or otherwise attempt
        to discover the source code of the Software.</p>
    <br>
    <p class="c5">
        4.5 No Unbundling. The Software may include various applications and components,
        may allow access to different Adobe Online Services, may support multiple platforms
        and languages, and may be provided to Customer on multiple media or in multiple
        copies. Nonetheless, the Software is designed and provided to Customer as a single
        product to be used as a single product on Computers as permitted herein. Unless
        otherwise permitted in the Documentation, Customer is not required to install all
        component parts of the Software, but Customer may not unbundle the component parts
        of the Software for use on different Computers.</p>
    <br>
{% endblock %}

{% block passNews %}
{% endblock %}