{% load i18n %}
<div class="container-fluid">
	<div class="row">
	<hr class="divider">
		<header class="section-header">
			<p class="section-heading" style="position: relative; margin-top: 20px;">
				
				<h3>
					<a class="user-action text-right img-float-right" href="#home" style="color: blue;" title="{% trans "Go to Home Page" %}">{% trans "Go to Home Page" %} »</a>
				</h3>

				<image border="0" alt="The UFC Times" title="" src="/static/newspaper/img/logos/logo-footer.png" xlink:href="/static/newspaper/img/logos/logo-footer.png" height="26" width="185" title="{% trans "Logo Site" %}"/>
			</p>
		</header>
		<div class="table-responsive">
		<table class="table">
			<tr>
			{% for i in sections %}
				<td>
					<div class="table-responsive">
						<table class="table">
							<tr>
								<td class="table-title">{{ i.title|upper }}</td>
							</tr>
							{% for k in i.getSubSections %}
							<tr>
								<td>
									<a href="/newspaper/{{ i.id }}/{{ k.id }}/" title="{{ k.title }}">
									{{ k.title }}
									</a>
								</td>
							</tr>
							{% endfor %}
						</table>
					</div>
				</td>
			{% endfor %}
			</tr>
		</table>
		</div>
	<hr class="divider">




	<footer role="contentinfo" class="page-footer" id="page-footer">
		<nav>
			 <ul>
				 <li>
				 	&copy; <span itemprop="name"> The UFC Times </span>
				</li>
				
				<li class="wide-viewport-item">
					<a href="#" title="{% trans "Contact Us" %}">{% trans "Contact Us" %}
					</a>
				</li>
	
				<li>
					<a itemprop="usageTerms" href="#" title="{% trans "Terms of Service" %}">
						{% trans "Terms of Service" %}
					</a>
				</li>
			 </ul>
		</nav>
		</footer>
	</div>
</div>