{% load i18n %}

<!-- Falta traduzir isso daqui -->
<div id="nav-accessibillity" class="container-fluid">
<div class="row">
<div class="col-xs-3 col-md-3 text-center hidden-xs">
	<a href="#index" accesskey="1" title="{% trans "Skip to main content of the page - Shortcut #1" %}">{% trans "Jump to Content" %} [1]
	</a>
</div>
<div class="col-xs-3 col-md-3 text-center hidden-xs">
	<a href="#menu" accesskey="2" title="Skip to the page menu - Shortcut #2">{% trans "Jump to Menu" %} [2]
	</a>
</div>
<div class="col-xs-6 col-md-3 text-center">
	<a href="#" class="disable-contrast" id="button-contrast" accesskey="3" title="{% trans "On/Off High Contrast - Shortcut #3" %}">High Contrast-OFF [3]
	</a>
</div>
<div class="col-xs-6 col-md-3 text-center">
	<a href="#" class="font-minus" id="button-font" accesskey="4" title="{% trans "Increase / Decrease Font - Shortcut #4" %}">Big Font-OFF [4]
	</a>
</div>
</div>
</div>