<!-- Falta traduzir isso daqui -->

<ul class="nav nav-pills">
	<li>
		<a href="#index" accesskey="1" title="pular para o conteúdo principal da página - atalho nº1">Pular para o conteúdo[1]
		</a>
	</li>
	<li>
		<a href="#" class="disable-contrast" id="button-contrast" accesskey="2" title="pular para o conteúdo principal da página - atalho nº1">Ativar Auto contraste[2]
		</a>
	</li>
	<li>
		<a href="#" class="font-minus" id="button-font" accesskey="3" title="pular para o conteúdo principal da página - atalho nº1">Aumentar a Letra[3]
		</a>
	</li>
</ul>