{% load i18n %}

<div class="container-fluid">
<div class="row">
<!-- Fixed navbar -->
<div class="navbar navbar-default navbar-static-top" role="navigation">
	<div class="container-fluid">
		<div class="navbar-header">
			<button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
				<span class="sr-only">Toggle navigation</span>
				<span class="icon-bar"></span>
				<span class="icon-bar"></span>
				<span class="icon-bar"></span>
			</button>
		</div>
		<div class="navbar-collapse collapse">
			{% block nav-left %}
			<ul class="nav navbar-nav navbar-left">
				<li>
					{% if perms.newspaper.access_manager %}
					<a id="home"  href="/newspaper/userAuthenticated/manager/">{% trans "HOME" %}</a>
					{% else %}
					<a id="home" href="/newspaper/">{% trans "HOME" %}</a>
					{% endif %}
				</li>

				{% if not perms.newspaper.access_manager %}
				<li class="dropdown">
					<span class="icon-bar"></span>
					<span class="icon-bar"></span>
					<span class="icon-bar"></span>
					<a href="#" class="dropdown-toggle" data-toggle="dropdown">{% trans "SECTIONS" %} <b class="caret"></b></a>

					<ul class="dropdown-menu multi-level" role="menu" aria-labelledby="dropdownMenu">
						{% for i in sections %}
							<li class="dropdown-submenu">
								<a tabindex="-1" href="/newspaper/home/section={{ i.id }}/">{{ i.title }}</a>

								<ul class="dropdown-menu">
									<li class="dropdown-header">{{ i.title }}</li>
									{% for k in i.getSubSections %}
										<li><a href="/newspaper/home/section={{ i.id }}/subsection={{ k.id }}/">{{ k.title }}</a></li>
									{% endfor %}
								</ul>
							</li>
						{% endfor %}
					</ul>
				</li>

				<li>
					<a href="#"><span class="glyphicon glyphicon-search" ></span> {% trans "SEARCH" %}</a>
				</li>
				{% endif %}
			</ul>
			{% endblock %}

			{% block nav-right %}
			<ul class="nav navbar-nav navbar-right">
				{% if request.user.is_authenticated %}
				<li class="dropdown">
					<span class="icon-bar"></span>
					<span class="icon-bar"></span>
					<span class="icon-bar"></span>
					<a href="#" class="dropdown-toggle" data-toggle="dropdown">
						<span class="glyphicon glyphicon-user"></span> 
						{{ request.user }} 
						<b class="caret"></b>
					</a>

					<ul class="dropdown-menu multi-level" role="menu" aria-labelledby="dropdownMenu">
						{% if perms.newspaper.access_manager  %}
						<li>
							<a href="/newspaper/">{% trans "LECTOR" %}</a>
						</li>
						<li>
							<a href="/newspaper/userAuthenticated/manager/">
								{% trans "MANAGER" %}
							</a>
						</li>
						{% endif %}
						<li>
							<a href="/newspaper/authentication/logout/">
								{% trans "LOG OUT" %}
							</a>
						</li>
					</ul>
				</li>
				{% else %}
				<li id="menuLogin" class="dropdown  dropdown-large">
					<a id="navLogin" data-toggle="dropdown" href="#" class="dropdown-toggle">
						{% trans "LOG IN" %}
					</a>
					<div style="padding:17px;" class="dropdown-menu dropdown-menu-large row">
						<hr class="divider-lite">
						<h3>{% trans "Login" %}</h3>
						<hr class="divider-lite">
						<form class="form" action="/newspaper/authentication/login/" method="POST" id="formLogin" onSubmit="return validaSignIn();">
							{% csrf_token %}
							<div class="form-group"> 
								<input type="text" required="" 
								placeholder="{% trans "Username" %}" 
								id="username" name="username" class="form-control">
							</div>
							<div class="form-group">
								<input type="password" required=""
								placeholder="{% trans "Password" %}" 
								id="password" name="password" class="form-control">
							</div>
							<button class="btn btn-default" id="btnLogin" type="submit">
								{% trans "Login" %}
							</button>
						</form>
						<hr class="divider-lite">
						<form>
							<a data-target="#formRegister" data-toggle="collapse" id="btnNewUser" title="Fast and free sign up!" href="#" class="collapsed">
								New User? Sign-up..
							</a>
						</form>
						<hr class="divider-lite">
						<form class="form collapse" id="formRegister" action="/newspaper/authentication/signup/"  enctype="multipart/form-data"  class="js-reply" method="POST" style="height: 0px;">
							{% csrf_token %}
							<div class="form-group">
								<input type="text" required=""
								placeholder="{% trans "Firstname" %}" id="inputFirstname" 
								name="first_name" class="form-control">
							</div>
							<div class="form-group">
								<input type="text" required="" 
								placeholder="{% trans "Lastname" %}" id="inputLastname" 
								name="last_name" class="form-control">
							</div>
							<div class="form-group">
								<input type="email" required="" 
								placeholder="{% trans "Email" %}" id="inputEmail" name="email" class="form-control">
							</div>
							<div class="form-group">
								<input type="text" required="" 
								title="{% trans "Choose a username" %}" placeholder="{% trans "Username" %}" id="inputUsername" 
								name="username" class="form-control">
							</div>
							<div class="form-group">
								<input type="password" required="" 
								placeholder="{% trans "Password" %} " id="password" 
								name="password" class="form-control vTextField required">
							</div>
							<div class="form-group">
								<input type="password" required="" 
								placeholder="{% trans "Repeat Password" %} " id="password2" 
								name="password2" class="form-control vTextField required">
							</div>
							<div id="input_profile_image" class="form-group">
								<input id="id_profile_image" 
									class="form-control"
									name="profile_image" type="file">
									<label for="id_profile_image">
										{% trans "Profile Picture" %}
									</label>
							</div>    
							<button class="btn btn-default" id="btnRegister" type="submit">
								{% trans "Sign Up" %}
							</button>
						</form>
					</div>
				</li>
				{% endif %}
				<li>
					<a href="/latest/feed/">
						<img class="rss-icon" src="{{ STATIC_URL }}/newspaper/img/rss.svg">
					</a>
				</li>
			</ul>
			{% endblock %}
		</div>
	</div><!--/.nav-collapse -->
</div>
</div>
</div>