{% load i18n %}
<center>
	<br><h1>{% trans "Journalist" %}</h1><br>
</center>
<div class="col-md-6">
	<div class="row">
		{% if journalist.profile_image %}
		<center>
			<figure>
				<a href="{{ journalist.profile_image.url }}" class="boxer" title="{{ journalist.username }}" data-gallery="gallery">
					<img id="figure-person" class="img-responsive img-circle" src="{{ journalist.profile_image.url }}"/>
				</a>
			</figure>
		</center>
		{% endif %}

	</div>
</div>
<div class="col-md-6">
	<div class="row">
		<br>
		<div class="table-responsive">
			<table class="table">
				<tr>
					<td class="bold">{% trans "First Name" %}</td>
					<td>{{ journalist.first_name }}</td>
				</tr>
					<td class="bold">{% trans "Last Name" %}</td>
					<td>{{ journalist.last_name }}</td>
				</tr>	
					<td class="bold">{% trans "Username" %}</td>
					<td>{{ journalist.username }}</td>
				</tr>	
					<td class="bold">{% trans "Email" %}</td>
					<td>{{ journalist.email }}</td>
				</tr>
				</tr>	
					<td class="bold">{% trans "Last Login" %}</td>
					<td>{{ journalist.last_login }}</td>
				</tr>
				</tr>	
					<td class="bold">{% trans "Date Joined" %}</td>
					<td>{{ journalist.date_joined }}</td>
				</tr>
			</table>
		</div>
	</div>
</div>
