{% load i18n %}
{% load humanize %}

<!--Jornalist -->
<ul class="list-group">
  <li class="list-group-item active" >
  	<h3>
  		<div class="container-fluid">
	  		<div class="col-xs-6  col-md-8  text-center">
	  			<div class="row">
			 		<a data-toggle="collapse" data-parent="#accordion" href="#collapseJournalist">
		  				{% trans "Journalists" %}
		  			</a>
	  			</div>
		 	</div>
			<div class="col-xs-6 col-md-4 text-right">
				<div class="row">
					{% if perms.newspaper.keep_journalist %}
					<a href="/newspaper/userAuthenticated/manager/journalist/add/">
						<span class="glyphicon glyphicon-plus pointer"></span>
					</a>
					{% endif %}
				</div>
			</div>
		</div>
  	</h3>
  </li>
	  {% if open_journalist %}
	  <ul  id="collapseJournalist" class="list-group panel-collapse collapse in">
	  {% else %}
	  <ul  id="collapseJournalist" class="list-group panel-collapse collapse">
	  {% endif %}
  		{% for i in journalists %}
	  		<li class="list-group-item">
	  			<div class="container-fluid">
			  		<div class="col-xs-6  col-md-6 text-left">
		  				<h4>{{ i.username }}</h4>
				 	</div>
					<div class="col-xs-6 col-md-6 text-right">
						<a href="/newspaper/userAuthenticated/manager/journalist/view/{{i.id}}/">
							<span class=" glyphicon glyphicon-eye-open pointer"></span>
						</a>
						&nbsp;
						<a href="/newspaper/userAuthenticated/manager/journalist/edit/{{i.id}}/">
							<span class="  glyphicon glyphicon-edit pointer"></span>
						</a>
						&nbsp;
						<a href="/newspaper/userAuthenticated/manager/journalist/rem/{{i.id}}/">
							<span class="  glyphicon glyphicon-remove pointer"></span>
						</a>
					</div>
				</div>
	  		</li>
	  		{% empty %}
  			<li class="list-group-item list-group-item-warning">
  				{% trans "There is no Journalists" %}
  			</li>
  		{% endfor %}
  	</ul>
</ul>
<!-- Quit News -->