{% extends 'newspaper/user/home.html' %}

{% load i18n %}
{% load humanize %}

{% block menu-sections %}

{% endblock %}

{% block container %}
<div id='jqxWidget'>
    <div id="mainSplitter">    	
        <div class="splitter-panel">
        	<div style="border: none;" id='jqxTree'>
           	<ul>
           	{%  block left %}
				{% if perms.newspaper.keep_news or perms.newspaper.delete_news %}
					{% include "newspaper/userAuthenticated/news/optionNews.html" %}
				{% endif %}
				{% if perms.newspaper.keep_journalist or perms.newspaper.keep_journalist %}
					{% include "newspaper/userAuthenticated/journalist/optionJournalist.html" %}
				{% endif %}
				{% if perms.newspaper.keep_section or perms.newspaper.keep_subsection %}
					{% include "newspaper/userAuthenticated/section/optionSection.html" %}
				{% endif %}
				{% if perms.newspaper.keep_classifield %}
					{% include "newspaper/userAuthenticated/classifield/optionClassifield.html" %}
				{% endif %}
			{% endblock %}
			</ul>
			</div>
        </div>
        <div class="splitter-panel">
        	{% block right %}
        		<hr class="divider-lite">
				<div class="container-fluid">
				<div class="row">
						<center>
						<div class="btn-group" role="group">
							{% if id_section == None %}
							<a href="/newspaper/userAuthenticated/manager/page={{ id_page_left }}/" alt="{% trans "Page Previous" %}">
							{% else %}
							<a href="/newspaper/userAuthenticated/manager/section={{ id_section }}/page={{ id_page_left }}/" alt="{% trans "Page Previous" %}">
							{% endif %}
								<button class="btn btn-group">
									<span class="glyphicon glyphicon-chevron-left"></span>
								</button>	
							</a>
						</div>
						<a>{% trans "Page: " %}{{ id_page }}</a>
						<div class="btn-group" role="group">
							{% if id_section == None %}
								<a href="/newspaper/userAuthenticated/manager/page={{ id_page_rigth }}/" alt="{% trans "Page Next" %}">
							{% else %}
								<a href="/newspaper/userAuthenticated/manager/section={{ id_section }}/page={{ id_page_rigth }}/" alt="{% trans "Page Next" %}">
							{% endif %}
								<button class="btn btn-group">							
									<span class="glyphicon glyphicon-chevron-right"></span>
								</button>
							</a>
						</div>
						</center>
				</div>
				</div>
				{% include "newspaper/userAuthenticated/news/_render_list_news.html" %}
			{% endblock %}
        </div>
    </div>
</div>
{% endblock %}

{% block passNews %}
{% endblock %}

{% block modals %}
	{% include "newspaper/userAuthenticated/section/modals.html" %}
{% endblock %}