{% extends 'newspaper/user/home.html' %}

{% load i18n %}
{% load humanize %}

{% block menu-barner %}
<center>
    <svg class="nyt-logo" width="379" height="64" role="img" aria-label="The New York Times">
        <image width="379" height="64" xlink:href="/static/newspaper/img/ny.png" src="/static/newspaper/img/ny.png" alt="The New York Times" border="0" class="img-responsive">
        </image>
    </svg>
    	<ul class="masthead-menu">
			<li class="date">{% trans "It is" %} {% now "jS F Y H:i" %}</li>
		</ul>
        
</center>
{% endblock %}

{% block menu-sections %}

{% endblock %}

{% block container %}
<div class="container-fluid">
	<div class="row">
		<div class="col-md-3">
			<div class="row">
			{%  block left %}
				
				{% if perms.newspaper.keep_news or perms.newspaper.delete_news %}
					{% include "newspaper/userAuthenticated/news/optionNews.html" %}
				{% endif %}
				{% if perms.newspaper.keep_journalist or perms.newspaper.keep_journalist %}
					{% include "newspaper/userAuthenticated/journalist/optionJournalist.html" %}
				{% endif %}

			{% endblock %}
			</div>
		</div>

		<div class="col-md-9">
			<div class="row">
			{% block right %}
				{% include "newspaper/userAuthenticated/news/_render_list_news.html" %}
			{% endblock %}
			</div>
		</div>
	</div>
</div>
{% endblock %}

{% block modals %}

{% endblock %}