{% extends 'newspaper/user/home.html' %}

{% load i18n %}
{% load humanize %}

{% block menu-sections %}

{% endblock %}

{% block container %}
<div id='jqxWidget'>
    <div id="mainSplitter">    	
        <div class="splitter-panel">
        	<div style="border: none;" id='jqxTree'>
           	<ul>
           	{%  block left %}
				{% if perms.newspaper.keep_news or perms.newspaper.delete_news %}
					{% include "newspaper/userAuthenticated/news/optionNews.html" %}
				{% endif %}
				
				{% if perms.newspaper.keep_journalist or perms.newspaper.keep_journalist %}
					{% include "newspaper/userAuthenticated/journalist/optionJournalist.html" %}
				{% endif %}

				{% if perms.newspaper.keep_redator or perms.newspaper.keep_redator %}
					{% include "newspaper/userAuthenticated/redator/optionRedator.html" %}
				{% endif %}
				
				{% if perms.newspaper.keep_section or perms.newspaper.keep_subsection %}
					{% include "newspaper/userAuthenticated/section/optionSection.html" %}
				{% endif %}
				
				{% if perms.newspaper.keep_classifield %}
					{% include "newspaper/userAuthenticated/classifield/optionClassifield.html" %}
				{% endif %}
			{% endblock %}
			</ul>
			</div>
        </div>
        <div class="splitter-panel">
        	{% block right %}
				{% include "newspaper/userAuthenticated/news/_render_list_news.html" %}
			{% endblock %}
        </div>
    </div>
</div>
{% endblock %}

{% block passNews %}
{% endblock %}

{% block modals %}
	{% include "newspaper/userAuthenticated/section/modals.html" %}
{% endblock %}