{% load i18n %}
{% load humanize %}

<!--News -->
<li>
  	<h3>
  		<div class="container-fluid">
	  		<div class="col-xs-6  col-md-8 text-center">
	  			<div class="row">
			 		<img style='float: left; margin-right: 5px;'  src='/static/newspaper/img/icons/sections.png' />
			 		<span item-title="true">
			  			{% trans "Sections" %}
			  		</span>
		  		</div>
		 	</div>
			<div class="col-xs-6 col-md-4 text-right">
				{% if perms.newspaper.keep_section %}
				<a data-toggle="modal" data-target="#modalSection" href="#">
					<span class="glyphicon glyphicon-plus pointer"></span>
				</a>
				{% endif %}
			</div>
		</div>
  	</h3>

  	{% if open_sections2 %}
	<ul item-expanded='true' >
	  {% else %}
	<ul item-expanded='false'>
	  {% endif %}
  		{% for i in sections %}
  		<li>
  			<div class="container-fluid">
		  		<div class="col-xs-6  col-md-6 text-left">
			 		<a data-toggle="collapse" data-parent="#collapseSection2" href="#collapse2{{i.id}}">
		  				<h4>{{ i.title }}</h4>
		  			</a>
			 	</div>
			 	<div class="col-xs-6 col-md-4 text-right">
					<a href="/newspaper/userAuthenticated/manager/section/edit/{{i.id }}/">
						<span class=" glyphicon glyphicon-edit pointer"></span>
					</a>
					<a href="/newspaper/userAuthenticated/manager/section/rem/{{i.id }}/">
						<span class=" glyphicon glyphicon-remove pointer"></span>
					</a>
				</div>
			</div>

			{% if open_subsections2 %}
  			<ul>
  			{% else %}
  			<ul>
  			{% endif %}
				{% for k in i.getSubSections %}
				<li>
					<div class="container-fluid">
			  		<div class="col-xs-6  col-md-8 text-left">
			  			<h4>{{ k.title }}</h4>
				 	</div>
				 	<div class="col-xs-6 col-md-4 text-right">
						<a href="/newspaper/userAuthenticated/manager/subsection/edit/{{k.id }}/">
							<span class=" glyphicon glyphicon-edit pointer"></span>
						</a>
						<a href="/newspaper/userAuthenticated/manager/subsection/rem/{{k.id }}/">
							<span class=" glyphicon glyphicon-remove pointer"></span>
						</a>
					</div>
				</div>
	  			</li>
	  			{% empty %}
	  			<li>
	  				<div class="container-fluid">
	  					<div class="row">
	  						<h4>{% trans "Section does not have subsection." %}</h4>
	  					</div>
	  				</div>
	  			</li>
	  			{% endfor %}
  			</ul>


  		</li>
  		{% empty %}
		<li class="list-group-item list-group-item-warning">
			{% trans "No sections" %}
		</li>
  		{% endfor %}
  	</ul>

</li>
<!-- Quit News -->