/* Fonts */
@font-face {
    font-family: 'robotolight';
    src: url('/static/newspaper/fonts/roboto.woff') format('woff');
    font-weight: normal;
    font-style: normal;

}

.divider{
	border-style: solid none none;
    border-width: 4px 0 0;
    margin-bottom:1px;
    margin-top: 1px;
    background-color: #000;
}

.divider-lite{
	border-style: solid none none;
    border-width: 3px 0 0;
    margin-bottom:5px;
    margin-top: 5px;
    background-color: #EEEEEE;
}

#news-not-image, #classifields {
	border-style: solid;
	padding-top: 5px;
	padding-bottom: 5px;
	border-top:    3px solid #EEEEEE;
	border-right:  2px solid #EEEEEE;
	border-bottom: 3px solid #EEEEEE;
	border-left:   2px solid  #EEEEEE;
}


/*Float Image in Text */
.img-float-right{
	float: right;
	margin: 10px;
	width: 50%;
}
.img-float-left{
	float: left;
	margin: 10px;
	width: 50%;
}
