{% load i18n %}
{% load humanize %}

<div class="panel-group" id="accordion">
<div class="container-fluid">
<div class="row">
		<center>
		{% if id_page != 1 %}
			<div class="btn-group" role="group">
				{% if id_section == None %}
					<a href="/newspaper/userAuthenticated/manager/page={{ id_page_left }}/" alt="{% trans "Page Previous" %}">
				{% else %}
					<a href="/newspaper/userAuthenticated/manager/section={{ id_section }}/page={{ id_page_left }}/" alt="{% trans "Page Previous" %}">
				{% endif %}
						<span class="glyphicon glyphicon-chevron-left"></span>	
					</a>
			</div>
		{% endif %}
		<a>{% trans "Page: " %}{{ id_page }}</a>
		{% if id_page_rigth != None %}
			<div class="btn-group" role="group">
				{% if id_section == None %}
					<a href="/newspaper/userAuthenticated/manager/page={{ id_page_rigth }}/" alt="{% trans "Page Next" %}">
				{% else %}
					<a href="/newspaper/userAuthenticated/manager/section={{ id_section }}/page={{ id_page_rigth }}/" alt="{% trans "Page Next" %}">
				{% endif %}
						<span class="glyphicon glyphicon-chevron-right"></span>
					</a>
			</div>
		{% endif %}
		</center>
</div>
</div>

	{% for i in news %}
	<div class="panel panel-default">
		<div class="panel-heading">
	      	<h4 class="panel-title">
	      		<div class="row">
		      		<div class="col-xs-10 col-md-10 text-left">
				        <a data-toggle="collapse" data-parent="#accordion" href="#collapseNews2{{ i.id}}">
				       		{{ i.title }}
				        </a>
			    	</div>
			        <div class="col-xs-2 col-md-2 text-right">
			        	{% if perms.newspaper.keep_news %}
			        	<a href="/newspaper/userAuthenticated/manager/news/edit/{{i.id}}/">
			        		<span class="glyphicon glyphicon-edit"></span>
			        	</a>
			        	{% endif %}
			        	&nbsp;
			        	<a href="/newspaper/userAuthenticated/manager/news/rem/{{i.id}}/">
							<span class="glyphicon glyphicon-remove"></span>
			        	</a>
					</div>
				</div>
	    	</h4>
		</div>
	    <div id="collapseNews2{{i.id}}" class="panel-collapse collapse">
	      	<div class="panel-body">
	  	    	{% include "newspaper/userAuthenticated/news/_render_news.html" %}
	        </div>
	    </div>
	</div>
	{% empty %}
	<div class="jumbotron">
		<h1 class="text-center">{% trans "There are no news" %}</h1>
		<p></p>
	 	<p class="text-center">
	 		<a class="btn btn-primary btn-lg" role="button" href="/newspaper/userAuthenticated/manager/">
	 			{% trans "All News" %}
	 		</a>
	 	</p>
	</div>
	{% endfor %}
</div>