{% load i18n %}
{% load humanize %}

<!--News -->
<ul class="list-group">
  <li class="list-group-item active" >
  	<h3>
  		<div class="container-fluid">
	  		<div class="col-xs-6  col-md-8 text-center">
		 		<a data-toggle="collapse" data-parent="#accordion" href="#collapseNews">
	  				{% trans "News" %}
	  			</a>
		 	</div>
			<div class="col-xs-6 col-md-4 text-right">
				<a href="/newspaper/userAuthenticated/manager/">
					<span class=" glyphicon glyphicon-eye-open pointer"></span>
				</a>
				&nbsp;
				{% if perms.newspaper.keep_news %}
				<a href="/newspaper/userAuthenticated/manager/news/add/">
					<span class="glyphicon glyphicon-plus pointer"></span>
				</a>
				{% endif %}
			</div>
		</div>
  	</h3>
  </li>
	  {% if open_sections %}
	  <ul  id="collapseNews" class="list-group panel-collapse collapse in">
	  {% else %}
	  <ul  id="collapseNews" class="list-group panel-collapse collapse">
	  {% endif %}
  		{% for i in sections %}
  		<li class="list-group-item">
  			<div class="container-fluid">
		  		<div class="col-xs-6  col-md-8 text-left">
			 		<a data-toggle="collapse" data-parent="#collapseNews" href="#collapse{{i.id}}">
		  				<h4>{{ i.title }}</h4>
		  			</a>
			 	</div>
				<div class="col-xs-6 col-md-4 text-right">
					<a href="/newspaper/userAuthenticated/manager/section={{i.id }}/">
						<span class=" glyphicon glyphicon-eye-open pointer"></span>
					</a>
				</div>
			</div>
  		</li>
  		{% if open_subsections %}
  			<ul id="collapse{{i.id}}" class="list-group panel-collapse collapse in">
  		{% else %}
  			<ul id="collapse{{i.id}}" class="list-group panel-collapse collapse">
  		{% endif %}
				{% for k in i.getSubSections %}
				<li class="list-group-item list-group-item-info list-retreat">
					<div class="container-fluid">
			  		<div class="col-xs-6  col-md-8 text-left">
			  			<h4>{{ k.title }}</h4>
				 	</div>
					<div class="col-xs-6 col-md-4 text-right">
						<a href="/newspaper/userAuthenticated/manager/section={{i.id }}/subsection={{k.id}}/">
							<span class=" glyphicon glyphicon-eye-open pointer"></span>
						</a>
					</div>
				</div>
  			</li>
  			{% empty %}
  			<li class="list-group-item list-group-item-warning list-retreat">
  				<h4>{% trans "Section does not have subsection." %}</h4>
  			</li>
  			{% endfor %}
  		</ul>
  		{% endfor %}
  </ul>
</ul>
<!-- Quit News -->