{% load i18n %}
{% load humanize %}

<!--News -->
{% if open_sections %}
<li id="Mail" item-expanded='true'>
{% else %}
<li id="Mail" item-expanded='false'>
{% endif %}
  	<h3>
  		<div class="container-fluid">
	  		<div class="col-xs-6  col-md-8 text-center">
		 		<div class="row">
			 		<img style='float: left; margin-right: 5px;'  src='/static/newspaper/img/icons/news.png' />
			  		<span item-title="true">
			  			{% trans "News" %}
			  		</span>
		  		</div>
		 	</div>
			<div class="col-xs-6 col-md-4 text-right">
				<div class="row">
					{% if perms.newspaper.keep_news %}
					<a href="/newspaper/userAuthenticated/manager/news/add/">
						<span class="glyphicon glyphicon-plus pointer"></span>
					</a>
					{% endif %}
				</div>
			</div>
		</div>
  	</h3>
  	{% if open_subsections %}
  	<ul item-expanded='true'>
  	{% else %}
  	<ul item-expanded='false'>
  	{% endif %}
		<li>
	  		<div class="col-xs-6  col-md-8 text-left">
		 		<a href="#collapse{{i.id}}">
	  				<h4>{%  trans "All" %}</h4>
	  			</a>
		 	</div>
			<div class="col-xs-6 col-md-4 text-right">
				<a href="/newspaper/userAuthenticated/manager/">
					<span class=" glyphicon glyphicon-eye-open pointer"></span>
				</a>
			</div>
  		</li>
  		{% for i in sections %}
	  		<li>
		  		<div class="col-xs-6  col-md-8 text-left">
		  			{% if i.image != '' %}
	  				<img class="img-circle" style='float: left; margin-right: 5px; width: 26px; height: 26px;'  src='{{ i.image.url }}' />
	  				{% endif %}
			  		<span>
			  			{{ i.title }}
			  		</span>
		  		</div>
				<div class="col-xs-6 col-md-4 text-right">
					<a href="/newspaper/userAuthenticated/manager/section={{i.id }}/">
						<span class=" glyphicon glyphicon-eye-open pointer"></span>
					</a>
				</div>
		  		<ul>
					{% for k in i.getSubSections %}
						<li>
							<div class="container-fluid">
						  		<div class="col-xs-6  col-md-8 text-left">
						  			{% if k.image != '' %}
					  				<img class="img-circle" style='float: left; margin-right: 5px; width: 26px; height: 26px;'  src='{{ k.image.url }}' />
					  				{% endif %}
							  		<span>
							  			{{ k.title }}
							  		</span>
							 	</div>
								<div class="col-xs-6 col-md-4 text-right">
									<a href="/newspaper/userAuthenticated/manager/section={{i.id }}/subsection={{k.id}}/">
										<span class=" glyphicon glyphicon-eye-open pointer"></span>
									</a>
								</div>
							</div>
		  				</li>
  					{% empty %}
  						<li>
  							<h4>{% trans "Section does not have subsection." %}</h4>
  						</li>
  					{% endfor %}
  				</ul>
  			</li>
  		{% empty %}
  		<ul>
  			<li>
  				{% trans "No sections" %}
  			</li>
  		</ul>
  		{% endfor %}
  </ul>
</li>
	 
<!-- Quit News -->